{% extends 'base.html.twig' %}


{% block body %}

<div class="wrapper">    
    <!--=== Header ===-->    
    <div class="header">
        <!-- Topbar -->
        <div class="topbar">
            <div class="container">
                <!-- Topbar Navigation -->
                <ul class="loginbar pull-right">
                    <li class="languagesSelector">
                        <i class="fa fa-globe"></i>
                        <a>Languages</a>
                        <ul class="languages">
                            <li class="active">
                                <a href="#">English <i class="fa fa-check"></i></a> 
                            </li>
                            <li><a href="#">Spanish</a></li>
                            <li><a href="#">Russian</a></li>
                            <li><a href="#">German</a></li>
                        </ul>
                    </li>
                    <li class="topbar-devider"></li>   
                    <li><a href="inscription.html">INSCRIPTION</a></li>  
                    <li class="topbar-devider"></li>   
                    <li><a href="login.html">CONNEXION</a></li>   
                </ul>
                <!-- End Topbar Navigation -->
            </div>
        </div>
        <!-- End Topbar -->
    
        <!-- Navbar -->
        <div class="navbar navbar-default mega-menu" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="fa fa-bars"></span>
                    </button>
                    <a class="navbar-brand" href="index.html">
                        <img id="logo-header" src="assets/img/emotion.jpg" alt="Logo">
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                      
					  <!-- Location -->
                        <li>
                            <a href="booking">
                                Location de vehicule
                            </a>
                        </li>
                        <!-- End Location -->

                        <!-- Aide -->   
						<li class="dropdown">
                            <a href="javascript:void(0);">Aide</a>
								<ul class="dropdown-menu">
                                     <li><a href="#"> La F.A.Q</a></li>
                                     <li><a href="#"> Mode d'emploi</a></li>
									 <li><a href="#"> Les régles </a></li>
                                    </ul>                                
                                </li>                    
                        <!-- End Aide -->
                    </ul>
                </div><!--/navbar-collapse-->
            </div>    
        </div>            
        <!-- End Navbar -->
    </div>
    <!--=== End Header ===-->    

	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Reservation</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Pages</a></li>
                <li class="active">Reservation</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form class="reg-page">
                 <div class="form-group">
                    <label>Type de vehicule</label>
                    <select class="form-control" id="vehicl_type" >
                     <option value="0" selected>Voiture</option>
                     <option value="1"> Scooter</option>
                 </select>
				 </div>
                                      
						<div class="form-group">			  
                    <label>Marque</label>
                    <input type="text" class="form-control margin-bottom-20">
						</div>

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Date de prise en charge</label>
                            <input class="form-control" type="date" value="2017-08-19" id="example-date-input">
                        </div>
						
                        <div class="col-sm-6">
                            <label>Heure</label> </br>
                            <select style="height:35px;">										
											<option  value="00:00">00:00</option>										
											<option  value="00:30">00:30</option>										
											<option  value="01:00">01:00</option>										
											<option  value="01:30">01:30</option>										
											<option  value="02:00">02:00</option>										
											<option  value="02:30">02:30</option>										
											<option  value="03:00">03:00</option>										
											<option  value="03:30">03:30</option>										
											<option  value="04:00">04:00</option>										
											<option  value="04:30">04:30</option>										
											<option  value="05:00">05:00</option>										
											<option  value="05:30">05:30</option>										
											<option  value="06:00">06:00</option>										
											<option  value="06:30">06:30</option>										
											<option  value="07:00">07:00</option>										
											<option  value="07:30">07:30</option>										
											<option  value="08:00">08:00</option>										
											<option  value="08:30">08:30</option>										
											<option  value="09:00">09:00</option>										
											<option  value="09:30">09:30</option>										
											<option selected value="10:00">10:00</option>
											<option  value="10:30">10:30</option>										
											<option  value="11:00">11:00</option>										
											<option  value="11:30">11:30</option>
											<option  value="12:00">12:00</option>
											<option  value="12:30">12:30</option>
											<option  value="13:00">13:00</option>
											<option  value="13:30">13:30</option>
											<option  value="14:00">14:00</option>
											<option  value="14:30">14:30</option>
											<option  value="15:00">15:00</option>
											<option  value="15:30">15:30</option>
											<option  value="16:00">16:00</option>
											<option  value="16:30">16:30</option>
											<option  value="17:00">17:00</option>
											<option  value="17:30">17:30</option>
											<option  value="18:00">18:00</option>
											<option  value="18:30">18:30</option>
											<option  value="19:00">19:00</option>
											<option  value="19:30">19:30</option>
											<option  value="20:00">20:00</option>
											<option  value="20:30">20:30</option>
											<option  value="21:00">21:00</option>
											<option  value="21:30">21:30</option>
											<option  value="22:00">22:00</option>
											<option  value="22:30">22:30</option>
											<option  value="23:00">23:00</option>
											<option  value="23:30">23:30</option>
									</select>

                        </div>
                    </div>
					</br>
					<div class="row">
                        <div class="col-sm-6">
                            <label>Date de restitution</label>
                            <input class="form-control" type="date" value="2017-08-19" id="example-date-input">
                        </div>
                        <div class="col-sm-6">
                            <label>Heure</label> </br>
                            <select style="height:35px;">										
											<option  value="00:00">00:00</option>										
											<option  value="00:30">00:30</option>										
											<option  value="01:00">01:00</option>										
											<option  value="01:30">01:30</option>										
											<option  value="02:00">02:00</option>										
											<option  value="02:30">02:30</option>										
											<option  value="03:00">03:00</option>										
											<option  value="03:30">03:30</option>										
											<option  value="04:00">04:00</option>										
											<option  value="04:30">04:30</option>										
											<option  value="05:00">05:00</option>										
											<option  value="05:30">05:30</option>										
											<option  value="06:00">06:00</option>										
											<option  value="06:30">06:30</option>										
											<option  value="07:00">07:00</option>										
											<option  value="07:30">07:30</option>										
											<option  value="08:00">08:00</option>										
											<option  value="08:30">08:30</option>										
											<option  value="09:00">09:00</option>										
											<option  value="09:30">09:30</option>										
											<option selected value="10:00">10:00</option>
											<option  value="10:30">10:30</option>										
											<option  value="11:00">11:00</option>										
											<option  value="11:30">11:30</option>
											<option  value="12:00">12:00</option>
											<option  value="12:30">12:30</option>
											<option  value="13:00">13:00</option>
											<option  value="13:30">13:30</option>
											<option  value="14:00">14:00</option>
											<option  value="14:30">14:30</option>
											<option  value="15:00">15:00</option>
											<option  value="15:30">15:30</option>
											<option  value="16:00">16:00</option>
											<option  value="16:30">16:30</option>
											<option  value="17:00">17:00</option>
											<option  value="17:30">17:30</option>
											<option  value="18:00">18:00</option>
											<option  value="18:30">18:30</option>
											<option  value="19:00">19:00</option>
											<option  value="19:30">19:30</option>
											<option  value="20:00">20:00</option>
											<option  value="20:30">20:30</option>
											<option  value="21:00">21:00</option>
											<option  value="21:30">21:30</option>
											<option  value="22:00">22:00</option>
											<option  value="22:30">22:30</option>
											<option  value="23:00">23:00</option>
											<option  value="23:30">23:30</option>
									</select>

                        </div>
                    </div>
					
                    <hr>

                    <div class="row">
                        <div class="col-md-10 col-md-offset-1">
                            <button class="btn-u" type="submit">Reserver</button>                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="assets/img/logo2-default.png" alt=""></a>
                        <p>Bienvenue sur le service de recherche de location de voiture proposé par eMotion. Nous offrons des milliers d'offres de location de voiture et moto électrique pour vous aider à trouver le meilleur prix.</p>
                        <p>Ainsi,nous vous aidons à organiser votre voyage et vous économisez de l’argent. Prenez la route avec nous.</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->
					
					
                       <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                           
                        </div>
                    </div>
                    <!-- End Latest --> 
					
					
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Liens</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">Blog</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Régles</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Recrutement</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contactez nous</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contactez-nous</h2></div>                         
                        <address class="md-margin-bottom-40">
                            25, Rue de la paix <br />
                            75002 Paris <br />
                            Téléphone: 09 47 51 25 36 <br />
                            Email: <a href="mailto:info@anybiz.com" class="">contact@emotion.fr</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2017 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->

{% endblock %}
    {% block javascripts %}

<!-- JS Global Compulsory -->			
<script  src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
<script  src="{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
<script  src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script> 
<!-- JS Implementing Plugins -->
<script  src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
<script  src="{{ asset('assets/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<script  src="{{ asset('assets/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
<script  src="{{ asset('assets/plugins/layer-slider/layerslider/js/greensock.js') }}"></script>
<script  src="{{ asset('assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js') }}"></script>
<script  src="{{ asset('assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js') }}"></script>
<!-- JS Customization -->
<script  src="{{ asset('assets/js/custom.js') }}"></script>
<!-- JS Page Level -->           
<script  src="{{ asset('assets/js/app.js') }}"></script>
<script  src="{{ asset('assets/js/plugins/layer-slider.js') }}"></script>
<script  src="{{ asset('assets/js/plugins/owl-recent-works.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        LayerSlider.initLayerSlider();   
        OwlRecentWorks.initOwlRecentWorksV2();
    });
</script>

<!--[if lt IE 9]>
    <script src="{{ asset('assets/plugins/respond.js') }}"></script>
    <script src="{{ asset('assets/plugins/html5shiv.js') }}"></script>
    <script src="{{asset('assets/js/plugins/placeholder-IE-fixes.js') }}"></script>
<![endif]-->
    {% endblock %}
