{% extends 'base.html.twig' %}

{% block body %}
<div class="wrapper">    

    <!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            
	

            <h1 class="pull-left">Liste des Annonces</h1>
            <div class="row">
		
           
	</div>
            <ul class="pull-right breadcrumb">
            
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Liste des Annonces</li>
            </ul>
            <div id="custom-search-input">
                            <div class="input-group col-md-12">
                                <input type="text" class="search-query form-control" placeholder="Search" />
                                <span class="input-group-btn">
                                    <button class="btn btn-danger" type="button">
                                        <span class=" glyphicon glyphicon-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->
 <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
        
     {% for vehicle in vehicles %}
     <div class="col-sm-3">
            <article class="col-item">
            	<div class="photo">
        			<div class="options-cart-round">
        				<a class="btn btn-default" title="Add to cart" href="/booking/{{vehicle.id}}">
        					<span class="fa fa-shopping-cart"></span>
        				</a>
        			</div>
        			<a href="#"> <img src="{{vehicle.link}}" class="img-responsive" alt="Product Image" /> </a>
        		</div>
        		<div class="info">
        			<div class="row">
        				<div class="price-details col-md-6">
        					<h1>{{vehicle.brand}} {{vehicle.model}}</h1>
        					<span class="price-new">Prix : {{vehicle.priceForHour}} €</span>
        				</div>
        			</div>
        		</div>
        	</article>
            
        </div>
               
            {% endfor %}
   
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->


<!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="{{ asset('assets/img/logo2-default.png') }}" alt=""></a>
                        <p>Bienvenue sur le service de recherche de location de voiture proposé par eMotion. Nous offrons des milliers d'offres de location de voiture et moto électrique pour vous aider à trouver le meilleur prix.</p>
                        <p>Ainsi,nous vous aidons à organiser votre voyage et vous économisez de l’argent. Prenez la route avec nous.</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->
					
					
                       <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                           
                        </div>
                    </div>
                    <!-- End Latest --> 
					
					
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Liens</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">Blog</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Régles</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Recrutement</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contactez nous</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contactez-nous</h2></div>                         
                        <address class="md-margin-bottom-40">
                            25, Rue de la paix <br />
                            75002 Paris <br />
                            Téléphone: 09 47 51 25 36 <br />
                            Email: <a href="mailto:info@anybiz.com" class="">contact@emotion.fr</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2017 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
{% endblock %}
        