{% extends 'base.html.twig' %}


{% block body %}
<div class="wrapper">    
    <!--=== Header ===-->    
    
    <!--=== End Header ===-->    

	<!--=== Breadcrumbs ===-->
    <div class="breadcrumbs">
        <div class="container">
            <h1 class="pull-left">Inscription</h1>
            <ul class="pull-right breadcrumb">
                <li><a href="/">Home</a></li>
                <li><a href="">Pages</a></li>
                <li class="active">Inscription</li>
            </ul>
        </div><!--/container-->
    </div><!--/breadcrumbs-->
    <!--=== End Breadcrumbs ===-->

    <!--=== Content Part ===-->
    <div class="container content">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <form class="reg-page">
                    <div class="reg-header">
                        
                        <p>Déjà inscrit ? Cliquez sur <a href="login" class="color-green">Connexion</a> pour vous connecter.</p>
                    </div>

                    <label>Username</label>
                    <input type="text" class="form-control margin-bottom-20">
                                      
                    <label>Email Address <span class="color-red">*</span></label>
                    <input type="text" class="form-control margin-bottom-20">

                    <div class="row">
                        <div class="col-sm-6">
                            <label>Password <span class="color-red">*</span></label>
                            <input type="password" class="form-control margin-bottom-20">
                        </div>
                        <div class="col-sm-6">
                            <label>Confirm Password <span class="color-red">*</span></label>
                            <input type="password" class="form-control margin-bottom-20">
                        </div>
                    </div>
					
					<label>Roles</label>
                    <input type="text" class="form-control margin-bottom-20">
					
					<label>Date de naissance</label>
						<div class="col-10">
							<input class="form-control" type="date" value="2017-08-19" id="example-date-input">
						</div>
						<br>
						<label>Adresse</label>
                    <input type="text" class="form-control margin-bottom-20">
					
					   <div class="row">
                        <div class="col-sm-6">
                            <label>Ville </label>
                            <input type="text" class="form-control margin-bottom-20">
                        </div>
                        <div class="col-sm-6">
                            <label>Code postal</label>
                            <input type="text" class="form-control margin-bottom-20">
                        </div>
                    </div>
					
					<label>Téléphone</label>
                    <input type="text" class="form-control margin-bottom-20">
					
					<label>Licence</label>
                    <input type="text" class="form-control margin-bottom-20">
					
					
	
                    <hr>

                    <div class="row">
                        <div class="col-lg-6 checkbox">
                            <label>
                                <input type="checkbox"> 
                                J'ai lu  <a href="page_terms.html" class="color-green">Les conditions générales</a>
                            </label>                        
                        </div>
                        <div class="col-lg-6 text-right">
                            <button class="btn-u" type="submit">S'inscrire</button>                        
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div><!--/container-->		
    <!--=== End Content Part ===-->

    <!--=== Footer Version 1 ===-->
    <div class="footer-v1">
        <div class="footer">
            <div class="container">
                <div class="row">
                    <!-- About -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <a href="index.html"><img id="logo-footer" class="footer-logo" src="{{ asset('assets/img/logo2-default.png') }}" alt=""></a>
                        <p>Bienvenue sur le service de recherche de location de voiture proposé par eMotion. Nous offrons des milliers d'offres de location de voiture et moto électrique pour vous aider à trouver le meilleur prix.</p>
                        <p>Ainsi,nous vous aidons à organiser votre voyage et vous économisez de l’argent. Prenez la route avec nous.</p>    
                    </div><!--/col-md-3-->
                    <!-- End About -->
					
					
                       <!-- Latest -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="posts">
                           
                        </div>
                    </div>
                    <!-- End Latest --> 
					
					
                    <!-- Link List -->
                    <div class="col-md-3 md-margin-bottom-40">
                        <div class="headline"><h2>Liens</h2></div>
                        <ul class="list-unstyled link-list">
                            <li><a href="#">Blog</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Régles</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Recrutement</a><i class="fa fa-angle-right"></i></li>
                            <li><a href="#">Contactez nous</a><i class="fa fa-angle-right"></i></li>
                        </ul>
                    </div><!--/col-md-3-->
                    <!-- End Link List -->                    

                    <!-- Address -->
                    <div class="col-md-3 map-img md-margin-bottom-40">
                        <div class="headline"><h2>Contactez-nous</h2></div>                         
                        <address class="md-margin-bottom-40">
                            25, Rue de la paix <br />
                            75002 Paris <br />
                            Téléphone: 09 47 51 25 36 <br />
                            Email: <a href="mailto:info@anybiz.com" class="">contact@emotion.fr</a>
                        </address>
                    </div><!--/col-md-3-->
                    <!-- End Address -->
                </div>
            </div> 
        </div><!--/footer-->

        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">                     
                        <p>
                            2017 &copy; All Rights Reserved.
                           <a href="#">Privacy Policy</a> | <a href="#">Terms of Service</a>
                        </p>
                    </div>

                    <!-- Social Links -->
                    <div class="col-md-6">
                        <ul class="footer-socials list-inline">
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Pinterest">
                                    <i class="fa fa-pinterest"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" class="tooltips" data-toggle="tooltip" data-placement="top" title="" data-original-title="Dribbble">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Social Links -->
                </div>
            </div> 
        </div><!--/copyright-->
    </div>     
    <!--=== End Footer Version 1 ===-->
</div><!--/wrapper-->
    
{% endblock %}
    {% block javascripts %}

<!-- JS Global Compulsory -->			
<script  src="{{ asset('assets/plugins/jquery/jquery.min.js') }}"></script>
<script  src="{{ asset('assets/plugins/jquery/jquery-migrate.min.js') }}"></script>
<script  src="{{ asset('assets/plugins/bootstrap/js/bootstrap.min.js') }}"></script> 
<!-- JS Implementing Plugins -->
<script  src="{{ asset('assets/plugins/back-to-top.js') }}"></script>
<script  src="{{ asset('assets/plugins/flexslider/jquery.flexslider-min.js') }}"></script>
<script  src="{{ asset('assets/plugins/owl-carousel/owl-carousel/owl.carousel.js') }}"></script>
<script  src="{{ asset('assets/plugins/layer-slider/layerslider/js/greensock.js') }}"></script>
<script  src="{{ asset('assets/plugins/layer-slider/layerslider/js/layerslider.transitions.js') }}"></script>
<script  src="{{ asset('assets/plugins/layer-slider/layerslider/js/layerslider.kreaturamedia.jquery.js') }}"></script>
<!-- JS Customization -->
<script  src="{{ asset('assets/js/custom.js') }}"></script>
<!-- JS Page Level -->           
<script  src="{{ asset('assets/js/app.js') }}"></script>
<script  src="{{ asset('assets/js/plugins/layer-slider.js') }}"></script>
<script  src="{{ asset('assets/js/plugins/owl-recent-works.js') }}"></script>
<script type="text/javascript">
    jQuery(document).ready(function() {
      	App.init();
        App.initSliders();
        LayerSlider.initLayerSlider();   
        OwlRecentWorks.initOwlRecentWorksV2();
    });
</script>

<!--[if lt IE 9]>
    <script src="{{ asset('assets/plugins/respond.js') }}"></script>
    <script src="{{ asset('assets/plugins/html5shiv.js') }}"></script>
    <script src="{{asset('assets/js/plugins/placeholder-IE-fixes.js') }}"></script>
<![endif]-->
    {% endblock %}
